# General
*~
.DS_Store

# Data directory
data
tests/data
models
inputs
images
deploy
scripts


# Makefile stuff
differential_data
requirements
poetry


# SQLite file
*.db

# Figures
figs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Object files
cpp/obj
*.o

# Temporary source code
cpp/src/spike

# Numpy data
*.npy

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# poetry
poetry.*

# Misc
temp
tmp
qexe
